#Social a {
    text-decoration: none;
    color: #000;
}

#Menu a {
    text-decoration: none;
    color: #000;
}

#More a {
    text-decoration: none;
    color: #000;
}

#Category a {
    text-decoration: none;
    color: #000;
}