#Social a {
    text-decoration: none;
    color: #000;
}

#Menu a {
    text-decoration: none;
    color: #000;
}

#More a {
    text-decoration: none;
    color: #000;
}

#Category a {
    text-decoration: none;
    color: #000;
}



#btn-link-ContactUs_id {
    width: 100px !important;
}




/* footer_link_Categories */


.footer_link_Categories:hover p {
    color: #0118D8 !important;
    font-weight: bold;
}


.footer_link_menu:hover p {
    color: #0118D8 !important;
    font-weight: bold;
}



.footer_link_more:hover p {
    color: #0118D8 !important;
    font-weight: bold;
}