#ContactUs-id {
    background-image: url("../../assets/image/Background_ContactUs/Background_ContactUs.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}



#form_div {
    border: 1px solid #000000 !important;
    border-radius: 40px;

    background: #ffffff2d;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}





#id_hr_line {
    height: 3px;
    background-color: #EFB80B;
    border: none;
    width: 160px;
    border-radius: 50px;
    margin: 0 auto !important;
    filter: none;
    opacity: 1;
}



#span_id_hr {
    filter: drop-shadow(2px 2px 10px #EFB80B);
}






/* #form_div {
    border: 1px #000000 solid !important;
    border-radius: 40px;
} */


#form {
    padding: 17px;
}




#btn_css:hover {
    background-color: #006400;
    border-radius: 15px;
    border: 1px #000000 solid;
}









/* footer */


#Social a {
    text-decoration: none;
    color: #000;
}

#Menu a {
    text-decoration: none;
    color: #000;
}

#More a {
    text-decoration: none;
    color: #000;
}

#Category a {
    text-decoration: none;
    color: #000;
}