#id_hr_line {
    height: 3px;
    background-color: #000000;
    border: none;
    width: 160px;
    border-radius: 50px;
    margin: 0 auto !important;
    filter: none;
    opacity: 1;
}







#form_div {
    border: 1px #000000 solid !important;
    border-radius: 40px;
}


#form {
    padding: 17px;
}




#btn_css:hover {
    background-color: #006400;
    border-radius: 15px;
    border: 1px #000000 solid;
}