#ContactUs-id {
    background-image: url("../../assets/image/Background_ContactUs/composition-black-friday-shopping-cart-with-copy-space_23-2148667046.avif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}



#form_div {
    border: 1px solid #000000 !important;
    border-radius: 40px;

    background: #ffffff2d;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}





#id_hr_line {
    height: 3px;
    background-color: #000000;
    border: none;
    width: 160px;
    border-radius: 50px;
    margin: 0 auto !important;
    filter: none;
    opacity: 1;
}







/* #form_div {
    border: 1px #000000 solid !important;
    border-radius: 40px;
} */


#form {
    padding: 17px;
}




#btn_css:hover {
    background-color: #006400;
    border-radius: 15px;
    border: 1px #000000 solid;
}